<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP16</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <table style="width:100%;">
        <tr>
            <td>Links</td>
        </tr>
        <tr>
            <td>
                <p>@Html.ActionLink("Home", "Index", "Home")</p>
                <p>@Html.ActionLink("Privacy", "Privacy", "Home")</p>
                <p>@Html.ActionLink("Musica", "Index", "Musica")</p>
            </td>
            <td>@RenderBody()</td>
        </tr>
    </table>
    <footer>
        @RenderSection("Footer", required: false)
    </footer>
</body>
</html>
