@model IEnumerable<HospitEST_JuliaMizuguchiJulianaLeite.Models.Patient_JMJL>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_JMJL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth_JMJL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pathology_JMJL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor_JMJL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_JMJL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth_JMJL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pathology_JMJL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor_JMJL.Name_JMJL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_JMJL">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_JMJL">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_JMJL">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
