@model IEnumerable<HospitEST_JuliaMizuguchiJulianaLeite.Models.Doctor_JMJL>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_JMJL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Practice_JMJL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracticeYears_JMJL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital_JMJL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_JMJL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practice_JMJL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracticeYears_JMJL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital_JMJL.Name_JMJL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_JMJL">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_JMJL">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_JMJL">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
